
# Build artifacts
libbadgerdict.h
libbadgerdict.so
libbadgerdict.dylib
libbadgerdict.dll

src/badgerdict/libbadgerdict.h
src/badgerdict/libbadgerdict.so
src/badgerdict/libbadgerdict.dylib
src/badgerdict/libbadgerdict.dll

# Packaging outputs
dist/
build/
src/badgerdict.egg-info/

# Badger data directories created by examples/tests
data/

# Python caches
__pycache__/
.pytest_cache/
.gocache
