
# Build artifacts
libskyshelve.h
libskyshelve.so
libskyshelve.dylib
libskyshelve.dll
libslatedb_go.so

src/skyshelve/libskyshelve.h
src/skyshelve/libskyshelve.so
src/skyshelve/libskyshelve.dylib
src/skyshelve/libskyshelve.dll


# Packaging outputs
dist/
build/
src/skyshelve.egg-info/
src/badgerdict.egg-info/

# Local toolchain + external dependencies
.cargo/
.rustup/
external/

# Badger data directories created by examples/tests
data/

# Python caches
__pycache__/
.pytest_cache/
.gocache

# Environment secrets
PROD_ENV.sh
